name: Code Review
on: [pull_request, push]
jobs:
  eslint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Run ESLint
        run: |
          npm install
          npx eslint . -f github
